header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
  font-weight: inherit;
}
header input {
  width: 620px;
  height: 45px;
  font-size: 18px;
  background-color: rgb(247, 231, 234);
  text-align: center;
  box-sizing: border-box;
  outline: none;
  border: none;
}
.Line {
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  max-width: 1025px;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 80px;
  overflow: hidden;
  overflow-y: scroll;
}

.DivEmoji {
  background-color: rgb(251, 251, 251);
  height: 60px;
  margin-bottom: 10px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 15px;
  align-items: center;
}
.DivEmoji b {
  color: rgb(251, 251, 251);
  font-weight: inherit;
}
.DivEmoji:hover b {
  color: black;
}
.DivEmoji:hover {
  background-color: rgb(247, 231, 234);
  cursor: pointer;
}
.DivEmoji :nth-child(1) {
  font-size: 25px;
}

.DivEmoji :nth-child(1) :nth-child(1) {
  margin-right: 7px;
}
footer {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}
footer em {
  font-weight: bold;
  font-style: normal;
}
